<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnLMS/></title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/984/984196.png" type="image/png">
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <nav class="nav" id="nav">
      <a class="logo-text">LearnLMS/></a>
    </nav>
    <div class="container">
      <div class="top">
        <div class="banner" id="banner">
          <h1>Rethink online Learning</h1>
          <h2>Add Teaching Tools to LMS</h2>
          <p>
            Colleges and Universities are seeing the value of online learning in higher education. Faculty and instructors are using Class to track student's engagement.
          </p>
        </div>
        <div class="links">
          <ul>
            <li>
              <a href="/login">
                <button class="btn">Login</button>
              </a>
            </li>
            <li>
              <a href="/signup">
                <button class="btn">Signup</button>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="features-container">
        <div class="features">
          <div class="feature" id="feature1">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>Flexible Code Ends</h3>
              <p>
                Regardless of their location or language, each of your learners gets a consistent learning experience.
              </p>
            </div>
          </div>
          <div class="feature" id="feature2">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>Deal with Valuable Data</h3>
              <p>
                Store your data and tasks upto the date with efficient Mysql Data storage available on LMS.
              </p>
            </div>
          </div>
          <div class="feature last-feature" id="feature3">
            <div class="feature-img"></div>
            <div class="feature-description">
              <h3>prioritise Code Work</h3>
              <p>
                prioritise your goals and focus on one time Coding sessions daily to achieve consistency.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer" id="footer">
      <p>&copy;&ensp;Ali asgar Malekpur - 2022</p>
    </footer>
  </body>
</html>
